@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;1,700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	background: $RadialGradient;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
}
